.header {
    overflow: hidden;
    position: sticky;
    background-color: #0077ff;
    top: 0;
  }
  
  .header a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

.header-logo img{
    width: 130px;
    height: auto;
}

.header-menu{
    float: right;
    margin-top: 10px;
}

.header-menu a:hover {
    background-color: red;
    color: black;
    border-radius: 20px;
}