<video loop autoplay muted>
    <source src="Wiltech-Intro.mp4" type="video/mp4">
  Your browser does not support the video tag.
  </video>


  <div class="flex-container">
    <div class="flex-item-left">
      <img src="about-image.jpg" alt="">
    </div>
    <div class="flex-item-right">    
    <H2 class="item-right-title">About Wiltech</H2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      Fusce interdum ullamcorper eros non auctor. Fusce mollis 
      bibendum massa, id tincidunt urna molestie nec. 
      In tristique est sagittis interdum facilisis. Sed vel justo sem. 
      Nunc aliquet sodales justo et cursus. Suspendisse sit amet dui nisi. 
      Pellentesque efficitur commodo augue sollicitudin dapibus.
      </p> 
  
  
      <br>
  
      <p>
      Curabitur posuere velit eget viverra convallis. 
      Nullam tincidunt, tortor in faucibus venenatis, 
      diam nisl lacinia mauris, fermentum mattis nisi 
      sapien sed odio. Quisque viverra leo vel augue 
      dapibus posuere. Etiam porta, purus a venenatis 
      gravida, turpis neque venenatis ligula, id accumsan
      urna risus mollis ipsum. Phasellus accumsan 
      condimentum nulla nec suscipit. 
      Lorem ipsum dolor sit amet, consectetur 
      adipiscing elit. Phasellus eget velit eget augue 
      fringilla iaculis nec non velit. Donec dui dui, 
      imperdiet at eleifend ac, faucibus non ipsum.
      </p>
    <div class="flex-button">
      <button class="about-button"> About Us </button>
    </div>
  </div>
  </div>

  <div class="service-container">
    <div class="service-item-left">
        <h2> Our Services </h2>
        <p>1</p>
    </div>
    <div class="service-item-right">
        <p>2</p>
    </div>
</div>